body{
  background: #C200FB;
}

header {
  text-align: center;
  color: #C200FB;
  background: #00120B;
  padding: ;
}

main {
  text-align: center;
  color: #C200FB;
  background: #00120B;
}

h1{
  color: #C200FB;
}

img{
  width: 80px;
  height: 80px;
}